@model HomeDTO

<section class="welcome_area bg-img background-overlay" style="background-image: url(img/bg-img/bg-1.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="hero-content">
                    <h6>asoss</h6>
                    <h2>New Collection</h2>
                    <a href="#" class="btn essence-btn">view collection</a>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="top_catagory_area section-padding-80 clearfix">
    <div class="container">
        <div class="row justify-content-center">

            @foreach (Category category in Model.Categories)
            {
                <div class="col-12 col-sm-6 col-md-4">
                    <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(./uploads/categories/@category.Image);">
                        <div class="catagory-content">
                            <a href="#">@category.Name</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<div class="cta-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cta-content bg-img background-overlay" style="background-image: url(img/bg-img/bg-5.jpg);">
                    <div class="h-100 d-flex align-items-center justify-content-end">
                        <div class="cta--text">
                            <h6>-60%</h6>
                            <h2>Global Sale</h2>
                            <a href="#" class="btn essence-btn">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="new_arrivals_area section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>Popular Products</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="popular-products-slides owl-carousel">

                    @foreach (Product product in Model.Products)
                    {
                        <div class="single-product-wrapper">

                            <div class="product-img">
                                <img src="~/uploads/products/@product.ProductImages.FirstOrDefault()?.Image" height="400" alt="">

                                <img class="hover-img" src="~/uploads/products/@product.ProductImages.FirstOrDefault()?.Image" height="400" alt="">

                                <div class="product-favourite">
                                    <a href="#" class="favme fa fa-heart"></a>
                                </div>
                            </div>

                            <div class="product-description">
                                <span>@product.Brand.Name</span>
                                <a asp-route="product-single" asp-route-slug="@product.Slug">
                                    <h6>@product.Name</h6>
                                </a>
                                <p class="product-price">$@(product.SalePrice - product.Discount)</p>

                                <div class="hover-content">

                                    <div class="add-to-cart-btn">
                                        <a href="#" class="btn essence-btn">Add to Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>


<div class="brands-area d-flex align-items-center justify-content-between">

    @foreach (Brand brand in Model.Brands)
    {
        <div class="single-brands-logo">
            <img src="~/uploads/brands/@brand.Image" alt="">
        </div>
    }
</div>

